@font-face {
    font-family: Philosopher;
    src: url(../../../fonts/Philosopher-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Philosopher;
    src: url(fonts/Philosopher-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}


/*!sc*/

html {
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}


/*!sc*/

body {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    /* overflow: hidden; */
    /* background-color: rgba(255, 255, 255, 1); */
}


/*!sc*/

h1,
h2,
h3,
h4,
h5,
span,
a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    margin: 0;
}


/*!sc*/

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    outline: none;
}


/*!sc*/

p {
    margin: 0;
}


/*!sc*/

button {
    font-family: Inter;
}


/*!sc*/

button,
button:active,
button:focus {
    outline: none;
}

.brand-container {
    position: relative;
    width: 100vw;
    height: 300vh;
    overflow: hidden;
    user-select: none;
}

.module {
    width: 100vw;
    height: 100vh;
    border: 1px solid white;
    background-image: url(./bg.jpg);
    background-size: 100% 100%;
    transform: scale(1.07, 1.07);
    background-repeat: no-repeat;
    user-select: none;
    position: fixed;
    transition: transform 0.02s;
    top: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.module>.bottle {
    position: absolute;
    top: 50px;
    height: calc(100% - 90px);
    transform: translate(50%, 0);
    right: 22vw;
    transform: scale(1, 1);
    /* transition: transform 0.5s; */
}

.module>.rock {
    position: absolute;
    bottom: -15px;
    right: -60px;
    /* transform: translate(50%, 0); */
    height: 100vh;
    /* transition: transform 0.5s; */
}

.cetLol {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3.7708333333333333vw 5.0895833333333335vw;
    background-color: transparent;
    z-index: 5;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

@media(max-width:1440px) {
    .cetLol {
        padding: 3.083333333333333vw 5.4895833333333335vw;
    }
}


/*!sc*/

@media(max-width:992px) {
    .cetLol {
        padding: 3.024193548387097vw 4.557291666666666vw;
    }
}


/*!sc*/

@media(max-width:375px) {
    .cetLol {
        padding: 3.4666666666666663vw 4vw;
    }
}


/*!sc*/

.cetLol:before {
    content: '';
    position: absolute;
    padding: 1.7708333333333333vw 3.4895833333333335vw;
}


/*!sc*/

.cetLol.contrast {
    background-color: rgba(245, 245, 245, 1);
}


/*!sc*/

.cetLol.contrast>a svg {
    fill: rgba(136, 136, 136, 1);
    opacity: 0.5;
}

.cetLol>a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
}


/*!sc*/

.cetLol>a svg {
    width: 9.6875vw;
    height: 2.03125vw;
    fill: rgba(255, 255, 255, 1);
    -webkit-transition: fill 0.25s, opacity 0.25s;
    transition: fill 0.25s, opacity 0.25s;
}

@media(max-width:1440px) {
    .cetLol>a svg {
        width: 9.027777777777777vw;
        height: 2.083333333333333vw;
    }
}


/*!sc*/

@media(max-width:992px) {
    .cetLol>a svg {
        width: 12.600806451612904vw;
        height: 2.82258064516129vw;
    }
}


/*!sc*/

@media(max-width:375px) {
    .cetLol>a svg {
        width: 23.733333333333334vw;
        height: 5.066666666666666vw;
    }
}

.cetLol>a svg:hover {
    opacity: 0.7;
    fill: rgba(255, 255, 255, 1);
}


/*!sc*/

.cetLol>nav {
    margin-left: 10.416666666666668vw;
    margin-right: auto;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 10px;
    font-family: Inter;
    line-height: 1;
    font-weight: 600;
}

@media (min-width:768px) {
    .cetLol>nav {
        font-size: calc(12px + 3 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .cetLol>nav {
        font-size: calc(15px + 3 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .cetLol>nav {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

@media(max-width:1440px) {
    .cetLol>nav {
        margin-left: 8.333333333333332vw;
    }
}


/*!sc*/

@media(max-width:1200px) {
    .cetLol>nav {
        margin-left: auto;
    }
}


/*!sc*/

@media(max-width:992px) {
    .cetLol>nav {
        display: none;
    }
}

data-styled.g9[id="Headerstyled__Container-sc-xdxgwq-0"] {
    content: "cetLol,"
}

.navbar {
    margin-right: 1.8229166666666667vw;
    color: rgba(245, 245, 245, 1);
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: color 0.25s, opacity 0.25s;
    transition: color 0.25s, opacity 0.25s;
}


/*!sc*/

@media(max-width:1440px) {
    .navbar {
        margin-right: 1.3888888888888888vw;
    }
}


/*!sc*/

@media(max-width:1200px) {
    .navbar {
        margin-right: 0.8333333333333334vw;
    }
}


/*!sc*/

.navbar:last-child {
    margin-right: 0;
}


/*!sc*/

.navbar:hover {
    opacity: 1;
}

.active {
    margin-right: 1.8229166666666667vw;
    color: rgba(245, 245, 245, 1);
    opacity: 1;
    cursor: pointer;
    -webkit-transition: color 0.25s, opacity 0.25s;
    transition: color 0.25s, opacity 0.25s;
}


/*!sc*/

@media(max-width:1440px) {
    .active {
        margin-right: 1.3888888888888888vw;
    }
}


/*!sc*/

@media(max-width:1200px) {
    .active {
        margin-right: 0.8333333333333334vw;
    }
}


/*!sc*/

.active:last-child {
    margin-right: 0;
}


/*!sc*/

.active:hover {
    opacity: 1;
}

.container {
    visibility: visible;
}


/*!sc*/

.container .Plugstyled__Container-sc-pr49gx-0 {
    display: none;
    visibility: hidden;
}


/*!sc*/

@media screen and (orientation:landscape) and (max-height:768px) and (max-width:1024px) {
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
    }
    .container .Plugstyled__Container-sc-pr49gx-0 {
        display: block;
        visibility: visible;
    }
}


/*!sc*/

data-styled.g24[id="Layoutstyled__HorizonWrapper-sc-9kyrhr-3"] {
    content: "container,"
}

.contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}


/*!sc*/

@media(max-width:1440px) {
    .contact {
        margin-left: 0.6944444444444444vw;
    }
}


/*!sc*/

@media(max-width:992px) {
    .contact {
        display: none;
    }
}


/*!sc*/

.contact {
    font-size: 10px;
    font-family: Inter;
    line-height: 1;
    font-weight: 600;
    color: rgba(245, 245, 245, 1);
    -webkit-transition: color 0.25s, opacity 0.25s;
    transition: color 0.25s, opacity 0.25s;
}

.contact>div {
    opacity: 0.6;
}


/*!sc*/

@media (min-width:768px) {
    .contact a {
        font-size: calc(12px + 3 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .contact a {
        font-size: calc(15px + 3 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .contact a {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

@media (min-width:768px) {
    .contact div {
        font-size: calc(12px + 0 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .contact div {
        font-size: calc(12px + 0 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .contact div {
        font-size: calc(0.3125vw + 0.5555555555555556vh);
    }
}


/*!sc*/

@media(max-width:1440px) {
    .contact div {
        margin-top: 0.2777777777777778vw;
    }
}

.buy {
    padding: 0.625vw 2.864583333333333vw;
    margin-left: 2.083333333333333vw;
    border: 1px solid transparent;
    border-radius: 1.5625vw;
    font-size: 10px;
    font-family: Inter;
    line-height: 1;
    font-weight: 600;
    color: rgba(245, 245, 245, 1);
    background-color: rgba(61, 122, 104, 1);
    cursor: pointer;
    -webkit-transition: color 0.25s, background-color 0.2s;
    transition: color 0.25s, background-color 0.2s;
    z-index: 2 !important;
}


/*!sc*/

@media (min-width:768px) {
    .buy {
        font-size: calc(12px + 3 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .buy {
        font-size: calc(15px + 3 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .buy {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

@media(max-width:1440px) {
    .buy {
        padding: 0.8333333333333334vw 2.8472222222222223vw;
        margin-left: 1.875vw;
        border-radius: 30px;
    }
}


/*!sc*/

@media(max-width:992px) {
    .buy {
        padding: 1.0080645161290323vw 4.166666666666666vw;
        margin-left: auto;
        color: rgba(57, 57, 57, 1);
        background-color: rgba(255, 255, 255, 1);
    }
}


/*!sc*/

@media(max-width:768px) {
    .buy {
        padding: 1.0416666666666665vw 4.166666666666666vw;
    }
}


/*!sc*/

@media(max-width:576px) {
    .buy {
        padding: 1.3888888888888888vw 4.340277777777778vw;
    }
}


/*!sc*/

@media(max-width:375px) {
    .buy {
        padding: 2.1333333333333333vw 5.333333333333334vw;
    }
}


/*!sc*/

@media(min-width:992px) {
    .buy:hover {
        color: rgba(57, 57, 57, 1);
        background-color: rgba(255, 255, 255, 1);
    }
}

data-styled.g24[id="Layoutstyled__HorizonWrapper-sc-9kyrhr-3"] {
    content: "hpHOon,"
}

.brand-first-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: rgba(245, 245, 245, 1);
    transition: all 0.3s;
}


/*!sc*/

.brand-first-container>div {
    width: 37.5vw;
    position: relative;
    top: 17.708333333333336vw;
    left: 11.458333333333332vw;
    opacity: 1;
    /* -webkit-transition: opacity 1s ease-in-out 600ms; */
    /* transition: opacity 1s ease-in-out 600ms; */
}


/*!sc*/

.brand-first-container div h1 {
    position: relative;
    width: 100%;
    font-size: 70px;
    font-family: Philosopher;
    line-height: 1.2;
    font-weight: 700;
    -webkit-letter-spacing: 0.03em;
    -moz-letter-spacing: 0.03em;
    -ms-letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 1.0416666666666665vw;
    text-align: center;
    color: rgba(245, 245, 245, 1);
}


/*!sc*/

@media (min-width:768px) {
    .brand-first-container div h1 {
        font-size: calc(105px + 20 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .brand-first-container div h1 {
        font-size: calc(125px + 45 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .brand-first-container div h1 {
        font-size: calc(4.427083333333334vw + 7.87037037037037vh);
    }
}


/*!sc*/

.brand-first-container div h1 sup {
    font-weight: 300;
    position: absolute;
    -webkit-transform: translate(25%, 105%);
    -ms-transform: translate(25%, 105%);
    transform: translate(25%, 105%);
    font-size: 15px;
    font-family: Philosopher;
    line-height: 1.2;
    font-weight: 500;
    color: rgba(245, 245, 245, 0.5);
}


/*!sc*/

@media (min-width:768px) {
    .brand-first-container div h1 sup {
        font-size: calc(19px + 4 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .brand-first-container div h1 sup {
        font-size: calc(23px + 7 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .brand-first-container div h1 sup {
        font-size: calc(0.78125vw + 1.3888888888888888vh);
    }
}


/*!sc*/

@media(max-width:1440px) {
    .brand-first-container div h1 sup {
        -webkit-transform: translate(25%, 95%);
        -ms-transform: translate(25%, 95%);
        transform: translate(25%, 95%);
    }
}


/*!sc*/

.brand-first-container div p {
    width: 100%;
    font-size: 14px;
    font-family: Inter;
    line-height: 1.2;
    font-weight: 600;
    -webkit-letter-spacing: 0.3em;
    -moz-letter-spacing: 0.3em;
    -ms-letter-spacing: 0.3em;
    letter-spacing: 0.3em;
    color: rgba(245, 245, 245, 1);
    text-transform: uppercase;
    text-align: center;
}


/*!sc*/

@media (min-width:768px) {
    .brand-first-container div p {
        font-size: calc(16px + 2 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .brand-first-container div p {
        font-size: calc(18px + 8 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .brand-first-container div p {
        font-size: calc(0.6770833333333334vw + 1.2037037037037037vh);
    }
}


/*!sc*/

.brand-first-container span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 3.125vw;
    width: 100%;
    /* -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out; */
}


/*!sc*/

@media(max-width:1440px) {
    .brand-first-container span {
        bottom: 5.208333333333334vw;
    }
}


/*!sc*/

@media(max-width:768px) {
    .brand-first-container span {
        bottom: 4.557291666666666vw;
    }
}


/*!sc*/

.brand-first-container span>svg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.0416666666666665vw;
    height: 3.177083333333333vw;
}


/*!sc*/

@media(max-width:1440px) {
    .brand-first-container span>svg {
        width: 15px;
        height: 46px;
    }
}


/*!sc*/

.brand-first-container span .Depthstyled__DepthSlideScroll-sc-17w6bfo-2 {
    top: 0;
    left: 0;
}

.fGpnDa #cssda-badge {
    position: absolute;
    top: unset;
    right: unset;
    left: 4.166666666666667vw;
    bottom: 4.166666666666667vw;
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 60px;
    background: #ededed;
    -webkit-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -moz-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -webkit-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    cursor: pointer;
    z-index: 9;
}


/*!sc*/

.fGpnDa #cssda-badge:hover {
    -webkit-animation: bounce 0.75s linear both;
    -moz-animation: bounce 0.75s linear both;
    -webkit-animation: bounce 0.75s linear both;
    animation: bounce 0.75s linear both;
    background: #673ab7;
}


/*!sc*/

.fGpnDa #cssda-badge svg {
    position: absolute;
    width: 3.125vw;
    height: 3.125vw;
    fill: #000000;
}


/*!sc*/

.fGpnDa #cssda-badge:hover svg {
    fill: #ededed;
}


/*!sc*/

.fGpnDa .cssda-badge-content {
    position: absolute;
    top: unset;
    left: unset;
    width: 3.125vw;
    height: 3.125vw;
    -webkit-transition: all 0.12s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -moz-transition: all 0.12s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -webkit-transition: all 0.12s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    transition: all 0.12s cubic-bezier(0.615, 0.19, 0.305, 0.91);
}


/*!sc*/

.fGpnDa #cssda-badge:hover .cssda-badge-content {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/*!sc*/

.fGpnDa #cssda-badge:hover #cssda-badge-logo {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/*!sc*/

@media only screen and (max-width:700px) {
    .fGpnDa #cssda-badge {
        left: 4vw;
        bottom: 4vw;
        width: 40px;
        height: 40px;
    }
    .fGpnDa #cssda-badge svg {
        width: 40px;
        height: 40px;
    }
    .fGpnDa #cssda-badge-logo {
        -webkit-transform: scale(1.35);
        -moz-transform: scale(1.35);
        -webkit-transform: scale(1.35);
        -ms-transform: scale(1.35);
        transform: scale(1.35);
    }
    .fGpnDa #cssda-badge:hover #cssda-badge-logo {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
    .fGpnDa #cssda-badge-title {
        display: none;
    }
    .fGpnDa #cssda-badge-award {
        display: none;
    }
}


/*!sc*/

@-webkit-keyframes bounce {
    .fGpnDa 0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 3.4% {
        -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 4.7% {
        -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 6.81% {
        -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 9.41% {
        -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 10.21% {
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 13.61% {
        -webkit-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 14.11% {
        -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 17.52% {
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 18.72% {
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 21.32% {
        -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 24.32% {
        -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 25.23% {
        -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 29.03% {
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 29.93% {
        -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 35.54% {
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 36.74% {
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 41.04% {
        -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 44.44% {
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 52.15% {
        -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 59.86%,
    .fGpnDa 63.26% {
        -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    .fGpnDa 100%,
    .fGpnDa 75.28%,
    .fGpnDa 85.49%,
    .fGpnDa 90.69% {
        -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}


/*!sc*/

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
        -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
        -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
        -webkit-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
        -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
        -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86%,
    63.26% {
        -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100%,
    75.28%,
    85.49%,
    90.69% {
        -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}


/*!sc*/

@keyframes bounce {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
        -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
        -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
        -webkit-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
        -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
        -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86%,
    63.26% {
        -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100%,
    75.28%,
    85.49%,
    90.69% {
        -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -ms-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

.idLlUT {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: rgba(255, 255, 255, 1);
    padding: 17.1875vw 11.354166666666666vw;
}


/*!sc*/

.idLlUT:nth-child(2) {
    top: 100vh;
}


/*!sc*/

.idLlUT:nth-child(3) {
    top: 200vh;
    height: 110vh;
}

.hbHaTV {
    width: 45.3125vw;
}


/*!sc*/

.hbHaTV h2 {
    font-size: 26px;
    font-family: Philosopher;
    line-height: 1.25;
    font-weight: 400;
    -webkit-letter-spacing: 0.03em;
    -moz-letter-spacing: 0.03em;
    -ms-letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    color: rgba(245, 245, 245, 1);
    width: 100%;
    margin-bottom: 3.125vw;
    text-transform: uppercase;
}


/*!sc*/

@media (min-width:768px) {
    .hbHaTV h2 {
        font-size: calc(35px + 5 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .hbHaTV h2 {
        font-size: calc(40px + 15 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .hbHaTV h2 {
        font-size: calc(1.4322916666666665vw + 2.5462962962962963vh);
    }
}


/*!sc*/

.hbHaTV div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.8229166666666667vw;
}


/*!sc*/

@media(max-width:1440px) {
    .hbHaTV div {
        width: 45.13888888888889vw;
    }
}


/*!sc*/

.hbHaTV div p {
    font-size: 14px;
    font-family: Inter;
    line-height: 1.45;
    font-weight: 400;
    color: rgba(245, 245, 245, 1);
    -webkit-flex: 0 1 48%;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
}


/*!sc*/

@media (min-width:768px) {
    .hbHaTV div p {
        font-size: calc(15px + 1 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .hbHaTV div p {
        font-size: calc(16px + 2 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .hbHaTV div p {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

.hbHaTV span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*!sc*/

.hbHaTV span svg {
    width: 50px;
    height: 50px;
}


/*!sc*/

.hbHaTV span p {
    width: 13.802083333333334vw;
    font-size: 15px;
    font-family: Inter;
    line-height: 1.4;
    font-weight: 600;
    margin-left: 0.9375vw;
    color: rgba(245, 245, 245, 1);
}


/*!sc*/

@media (min-width:768px) {
    .hbHaTV span p {
        font-size: calc(16px + 0 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .hbHaTV span p {
        font-size: calc(16px + 2 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .hbHaTV span p {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

@media(max-width:1600px) {
    .hbHaTV span p {
        width: 16.5625vw;
    }
}


/*!sc*/

@media(max-width:1440px) {
    .hbHaTV span p {
        width: 18.40277777777778vw;
    }
}


/*!sc*/

@media(max-width:1280px) {
    .hbHaTV span p {
        width: 20.703125vw;
    }
}

.iNwzG {
    width: 45.3125vw;
}


/*!sc*/

.iNwzG h2 {
    font-size: 26px;
    font-family: Philosopher;
    line-height: 1.25;
    font-weight: 400;
    -webkit-letter-spacing: 0.03em;
    -moz-letter-spacing: 0.03em;
    -ms-letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    color: rgba(245, 245, 245, 1);
    width: 100%;
    margin-bottom: 3.125vw;
    text-transform: uppercase;
}


/*!sc*/

@media (min-width:768px) {
    .iNwzG h2 {
        font-size: calc(35px + 5 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .iNwzG h2 {
        font-size: calc(40px + 15 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .iNwzG h2 {
        font-size: calc(1.4322916666666665vw + 2.5462962962962963vh);
    }
}


/*!sc*/

.iNwzG div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.8229166666666667vw;
}


/*!sc*/

@media(max-width:1440px) {
    .iNwzG div {
        width: 45.13888888888889vw;
    }
}


/*!sc*/

.iNwzG div p {
    font-size: 14px;
    font-family: Inter;
    line-height: 1.45;
    font-weight: 400;
    color: rgba(245, 245, 245, 1);
    -webkit-flex: 0 1 80%;
    -ms-flex: 0 1 80%;
    flex: 0 1 80%;
}


/*!sc*/

@media (min-width:768px) {
    .iNwzG div p {
        font-size: calc(15px + 1 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .iNwzG div p {
        font-size: calc(16px + 2 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .iNwzG div p {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

.iNwzG span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*!sc*/

.iNwzG span svg {
    width: 50px;
    height: 50px;
}


/*!sc*/

.iNwzG span p {
    width: 24.166666666666668vw;
    font-size: 15px;
    font-family: Inter;
    line-height: 1.4;
    font-weight: 600;
    margin-left: 0.9375vw;
    color: rgba(245, 245, 245, 1);
}


/*!sc*/

@media (min-width:768px) {
    .iNwzG span p {
        font-size: calc(16px + 0 * (100vw - 768px) / (1440 - 768));
    }
}


/*!sc*/

@media (min-width:1440px) {
    .iNwzG span p {
        font-size: calc(16px + 2 * (100vw - 1440px) / (1920 - 1440));
    }
}


/*!sc*/

@media (min-width:1920px) {
    .iNwzG span p {
        font-size: calc(0.46875vw + 0.8333333333333334vh);
    }
}


/*!sc*/

@media(max-width:1600px) {
    .iNwzG span p {
        width: 27.8125vw;
    }
}


/*!sc*/

@media(max-width:1440px) {
    .iNwzG span p {
        width: 29.51388888888889vw;
    }
}


/*!sc*/

@media(max-width:1280px) {
    .iNwzG span p {
        width: 33.203125vw;
    }
}